<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous"></head>


    <style>

.card{

    width: 78%;
    margin: 13%;
    height: 150px;
    border: black solid ;
 
}

.btn{
    display: flex;
    justify-content: center;
}

.card-body a{

    font-size: larger;

    font-weight: 600;
}

.btn_menu{

    color: aliceblue;
    padding: 29px;
}



       
      
    </style>
</head>
<body >



<div class="container">

<div class="row" style="height: 60px; background-color: grey; text-align: center;" > <h1  style="font-family: 'Times New Roman', serif;">Content Mangement System (CMS)</h1></div>

<div class="row">

    <div class="col-md-2 menu_bar" style="height: auto; background-color: #025;" >

     
        <div class="btn-group btn-group-vertical"  style="display: flex;
        justify-content: center;">
            <a href="#" class="btn btn_menu" aria-current="page" style="color: aliceblue;">Public Page</a>
            <a href="#" class="btn btn_menu">User Mangement</a>
            <a href="#" class="btn btn_menu">Login Mangement</a>
            <a href="#" class="btn btn_menu">Initial Info</a>
            <a href="#" class="btn btn_menu">Family Info</a>
            <a href="#" class="btn btn_menu">Educational Info</a>
            <a href="#" class="btn btn_menu">Professional Info</a>
            <a href="#" class="btn btn_menu">Desired Info</a>
          </div>

     </div>





    <div class="col-md-10" style="height: auto; background-color:lightgray;">







        <div class="row">

            <div class="col-md-4">

                <div class="card">
                    <div class="card-body" style="background-color: lightskyblue;">
                     
                      <a href="/" class="btn">Public Page</a>
                      
                    </div>
                  </div>
            </div>


            <div class="col-md-4">

                <div class="card">
                    <div class="card-body" style="background-color: lightgreen;">
                      
                      <a href="http://127.0.0.1:8000/user_login/" class="btn">User Login Page</a>
                    </div>
                  </div>
            </div>

            <div class="col-md-4">

                <div class="card">
                    <div class="card-body" style="background-color: gold;">
                      
                      <a href="http://127.0.0.1:8000/all_users" class="btn">User Management</a>
                    </div>
                  </div>
            </div>


            <div class="col-md-4">

                <div class="card">
                    <div class="card-body">
                      
                      <a href="http://127.0.0.1:8000/initial_info" class="btn">Initial Info Management</a>
                    </div>
                  </div>
            </div>



            <div class="col-md-4">

                <div class="card">
                    <div class="card-body" style="background-color: blueviolet;">
                      
                      <a href="http://127.0.0.1:8000/family_info" class="btn">Family Info Managment</a>
                    </div>
                  </div>
            </div>


            <div class="col-md-4">

                <div class="card">
                    <div class="card-body" style="background-color: yellowgreen;">
                      
                      <a href="http://127.0.0.1:8000/professional_info" class="btn">Professional Info Mangement</a>
                    </div>
                  </div>
            </div>



            
            <div class="col-md-4">

                <div class="card">
                    <div class="card-body" style="background-color: red;">
                      
                      <a href="http://127.0.0.1:8000/educational_info" class="btn">Educational Info Mangement</a>
                    </div>
                  </div>
            </div>




            <div class="col-md-4">

                <div class="card">
                    <div class="card-body" style="background-color: #bedd95;">
                      
                      <a href="http://127.0.0.1:8000/desired_person" class="btn">Desired Person Information Mangement</a>
                    </div>
                  </div>
            </div>













        </div>







    </div>



</div>


</div>
   
    



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
       
</body>
</html>


