<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About Bride or Groom</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>
    
    <!-- 1st container  about and image-->
    <div class="container" >



      <div class="row" style="margin: 5%;">

        <!-- 1st paragraph start-->

        <div class="col-md-4"> <img src="https://w0.peakpx.com/wallpaper/518/289/HD-wallpaper-shahrukh-khan-srk-smile-srk-smile-thumbnail.jpg" alt="" style="height: 200px; width: 200px; border-radius: 50%;"></div>
        <div class="col-md-8"> 

          <h2>Shahrukh Khan</h2>
          
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum fugit fuga maiores fugiat libero accusamus pariatur temporibus similique reiciendis! Maiores ducimus dignissimos,or  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis quod corporis, reiciendis laborum accusantium dolorem placeat tenetur incidunt ducimus sequi dolore itaque. Veritatis, asperiores? Accusantium nostrum reiciendis quos dicta placeat!l voluptatum recusandae soluta repudiandae laboriosam debitis magni vel.Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, autem inventore. Nam tempora fugiat facilis praesentium unde saepe provident exercitationem distinctio, tenetur, repudiandae nulla magni fuga amet, ipsa error. Repudiandae.
        
        </div>

      </div>


        <!-- 1st paragraph end-->


         <!-- 2nd paragraph start-->

      <div class="row">

       <div class="col-md-5" style="margin: 4%;">

        <div class="card1">
          <div class="card-header1">
            
          </div>
          <ul class="">
            
            <li class="list-group-item"><p style="font-weight: 700;">Age: </p> {{initial_info.age}}</li>
            <li class="list-group-item"><p style="font-weight: 700;">Height: </p> {{initial_info.height}}</li>
            <li class="list-group-item"><p style="font-weight: 700;">Body Color: </p> {{initial_info.body_color}}</li>
            <li class="list-group-item"><p style="font-weight: 700;">Present  Address: </p> {{initial_info.present_adress}}</li>
            
          </ul>
        </div>
       </div>

       <div class="col-md-4" style="margin: 4%;">





        <div class="card1" >
         
          <ul class="">

            
              <li class="list-group-item"><p style="font-weight: 700;">Total Family Members: </p>{{family_info.total_members}}</li>
              <li class="list-group-item"><p style="font-weight: 700;">How Many Brother's You have: </p>{{family_info.number_of_bro}}</li>
              <li class="list-group-item"><p style="font-weight: 700;">Hpw Many Sister's You Have: </p>{{family_info.number_of_sister}}</li>
              <li class="list-group-item"><p style="font-weight: 700;">Profession of your Father: </p>{{family_info.father_profession}}</li>
              <li class="list-group-item"><p style="font-weight: 700;">Professtion Of your Mother: </p>{{family_info.mother_profession}}</li>
            
          </ul>
        </div>










       
       </div>


        
       </div>





      </div>
<!-- 
      row end -->

     


    </div>
    <!-- container end -->




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>